@media (max-width: 1000px){
  .Nav_btn{
    padding: 15px;
  }
}

@media (max-width: 820px){
  .image-container {
    height: 70vh;
  }
  #curve{
    height: 10%;
    top: 95%;
  }
  #Navigation {
    align-items: flex-start;
    justify-content: space-between;
    height: auto;
    padding: 20px;
  }

  #MenuToggle {
    display: block;
    margin-left: auto;
    font-size: 1.5rem;
  }

  #Navigation_btns {
    display: none;
  }

  .Nav_btn {
    width: 100%;
    text-align: left;
    font-size: 1rem;
  }

  #Logo {
    margin: 0 0 10px 0;
  }

  #Logo img {
    height: 40px;
    margin-right: 10px;
  }

  #Logo div {
    font-size: .9rem;
    font-weight: bold;
    color: #f5f5f5;
  }

  #welcome_text{
    margin: 70px 0 0 0;
  }

  #welcome_text h1{
  font-size: 1rem;
  }

  #welcome_text h2{
    font-size: 1.5rem;
  }

  #welcome_text p{
    font-size: .6rem;
    max-width: 60%;
  }

  #service h1{
    font-size: 1rem;
  }

  .room_card h1{
    font-size: 1.1rem;
  }

  .room_card h2{
    font-size: .8rem;
  }

  .room_card ul {
    font-size: .5rem;
    margin-top: 2px;
  }
  
  .room_card li {
    margin-bottom: 2px;
  }

  .Rooms_img div img {
    height: 30vh;
  }

  .accommodations_card p{
    font-size: .6rem;
  }

  #amenities_img1 div img {
    height: 40vh;
  }

  #contact_details {
    flex-direction: column;
    align-items: center;
  }
}