@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

#rooms {
  z-index: 1;
  position: relative;
  margin-top: 50px;
}

#rooms h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 1.2rem;
  color: #f5f5f5;
  position: relative;
  margin-bottom: 4px;
}

#rooms_divS {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #637A9F;
  width: 100%;
  gap: 40px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 60px;
}

.room_card {
  width: 100%;
  max-width: 100%;
  margin: 10px 0;
  background: #566c8f;
  padding: 20px 0;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: Ubuntu, sans-serif;
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room_card h1,
.room_card h2,
.room_card img {
  text-align: center;
  padding: none;
}

.room_card h1{
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Caveat;
  font-weight: 700;
  font-size: 2rem;
  color: #f5f5f5;
  position: relative;
  margin-top: 0;
  margin-bottom: 4px;
}

.room_card h2{
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 1rem;
  color: #f5f5f5;
  position: relative;
  margin-bottom: 10px;
  margin-top: 5px;
}

.room_card ul {
  text-align: left;
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: none;
  font-size: .8rem;
}

.room_card li {
  margin-bottom: 5px;
  line-height: 1.5;
}

.room_card img {
  width: 100%;
  border-radius: 12px;
  margin-top: 10px;
}

.image_container {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  max-width: 100%;
  scroll-behavior: smooth;
}

.image_container img {
  flex: 0 0 auto;
  width: auto;
  height: 30vh;
  border-radius: 10px;
}

.Rooms_img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.Rooms_img div {
  width: auto;
  border-radius: 5px;
  padding: 2px;
  background-color: #f5f5f5;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}

.Rooms_img div img {
  width: auto;
  height: 30vh;
  border-radius: 5px;
  margin: 0;
  object-fit: cover;
}